@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

body {
    font-family: "Poppins", sans-serif, Gotham Rounded;
    background-color: #F6F4E8;
}

.navbar {
    background-color: #F6F4E8 !important;
}

.wrap {
    width: 960px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 33px 95px;
}

.ic {
    width: 316px;
}

.pic img {
    max-width: 100%;
}